<h2>Need help with Ruby-on-Rails? Get solutions here.</h2>

<table summary="Questions">
  <% @questions.each do |question| %>
  <tr>
    <td class="title">
			<%= link_to question.title, question %>
		</td>
    <td class="content">
      <%= truncate( question.content, :length => 65 ) %>
    </td>
    <td class="content"> 
      <%= pluralize( question.answers.count, "reply") %>
    </td>
  </tr>
  <% end %>
</table>

