<p class="showtitle"><%= @question.title %></p>
<p class="showcontent"><%= @question.content %></p>

<% unless @question.answers.empty? %>
  <div>
	<%= render @answers %>
  <div>
<% end %>

&nbsp;&nbsp;&nbsp;

<%= render 'answers/form' %>
