<p class="sign_in"><%= link_to "Admin Sign-In", '#' %></p>
<h1><%= link_to "Ruby.Connect", root_path %></h1>
<nav class="nav">
	<ul>
		<li><%= link_to "See All Topics", root_path %></li>
		<li><a href="http://creativitycoded.com/">CreativityCoded</a></li>
		<li><%= link_to "Post New Question", new_question_path %></li>
	</ul>
</nav>
